 <section id="facilities">
    <div class = "container">
    
      <div class = "title">
      <div class="d-flex align-items-center justify-content-center">
  <div class="jumbotron bg-image shadow-1-strong" style="
      background-image: url(/assets//wood-backround.jpg); background-size: 100% 100%; ">
  <h1>Sign In</h1>
  <%= form_with url: sign_in_path do |f| %>
   <p class = "notice text-danger"> <%= notice %></p> 
    <p class = "alert text-danger"> <%= alert %></p>  
    <p>
    <%= f.label 'email:'%><br>
    <%= f.text_field :email, id: 'email' %>
    </p>
    <p>
    <%= f.label 'password:'%><br>
    <%= f.password_field :password, id: 'password' %><br>
    <%= link_to 'Forgot your password?', password_reset_path %>
    </p>
    <p>
    <%= f.submit 'Log In', class:"btn-primary" %>
   
    </p>
  <% end %>
</div>
  </div>
  </div>
  </section>
  