<section id="facilities">
    <div class = "container">
      <div class = "title">
      <div class="d-flex align-items-center justify-content-center">
<div class="jumbotron bg-image shadow-1-strong" style="
      background-image: url(/assets//wood-backround.jpg); background-size: 100% 100%; ">
<h1>Edit Password</h1>
  <%= form_with model: Current.user, url: edit_password_path do |f| %>
    <p>
    <%= f.label 'password:'%><br>
    <%= f.password_field :password %>
    </p>
    <p>
    <%= f.label 'password_confirmation:'%><br>
    <%= f.password_field :password_confirmation %>
    </p>
    <p>
    <%= f.submit 'Update', class: "btn-primary" %>
    </p>
<% end %>
      </div>
      </div>
</section>

