
<% if Current.user %>
   <h1> Hi <%= Current.user.email %>, it's nice to see you!  </h1>
   <% end %>
 
<% if !Current.user %>
 <%= link_to 'Login', sign_in_path %>
 <% end %>

<section id="facilities">
    <div class = "container">
    
      <div class = "title">
      
           <%= link_to 'Create Your Journal Now', new_user_category_path(@user,@categories), class: "btn btn-primary" %>
         
      </div>
     
      <div class="row">
      <% @categories.each do |category| %>
       <div class ="col-md-4">
        
        <div class ="card text-center text-gray bg-image shadow-1-strong" style="
      background-image: url(/assets//wood-backround.jpg); background-size: 100% 100%; ">
        
          <div class ="card-body ">
          <span class = "badge badge-<%= category.color_badge%> mb-3"> <%= category.status%> </span>
                <small><%= category.percent_complete %>% complete </small>
                <h5 class="card-title"><%= category.title %></h5>
                <p class="card-text"><%= category.description %></p>
                <%= link_to ' Show', user_category_path(category.user_id,category.id),class: "btn btn-success btn-sm fas fa-eye" %>
                <%= link_to ' Show Task', category_tasks_path(category.id),class: "btn btn-warning btn-sm fas fa-eye" %>
                <%= link_to ' Edit',  edit_user_category_path(category.user_id,category.id),class: "btn btn-primary btn-sm fas fa-edit" %>
                <%= link_to 'Delete', user_category_path(category.user_id,category.id), method: :Delete, data: { confirm: 'Are you sure to delete this and all of the task of it? This cannot be undone.' },class: "btn btn-danger btn-sm fas fa-trash-alt" %>
          </div>
         
         </div>
          
      </div>
      <% end %>
</section>























 <% if false %>

<div class="d-flex align-items-center justify-content-center whole-body">

<h1>&nbsp;&nbsp; &nbsp;  CATEGORIES &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h1>  <%= link_to 'Add New Category', categories_new_path, class: "btn btn-primary far fa-plus-square" %>

</div>
<div class="d-flex container align-items-center justify-content-center">
<div class = " col-sm-6  align-items-center text-center ">

<% @categories.each do |category| %>
<tr class="table">
   <div class="col-md-4">
    <div class="card text-center" style="width: 18rem;">
    <div class="card-body">
     <h5 class="card-title"><%= category.title %></h5>
    <p class="card-text"><%= category.description %></p>
    <%= link_to ' Show',  category_show_path(category.id),class: "btn btn-success btn-sm fas fa-eye" %></td>
    <%= link_to ' Edit',  category_edit_path(category.id),class: "btn btn-primary btn-sm fas fa-edit" %></td>
    <%= link_to 'Delete', category_delete_path(category.id), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm fas fa-trash-alt" %></td>
    </div>
    <% if false %>
    <table class="table">
    <thead>
    <tr>
      <%# <th>ID</th> %> 
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        </tr>
    </thead>
<tbody>
    <td> <%= category.title %> </td>
    <td> <%= category.description %> </td>
   <td> <%= link_to ' Show', category_show_path(category.id),class: "btn btn-success btn-sm fas fa-eye" %></td>
    <td>
        <%= link_to 'Edit', category_edit_path(category.id), class: "btn btn-primary fas fa-edit" %>
    </td>
     <td>
        <%= link_to 'Delete', category_delete_path(category.id),class: "btn btn-danger fas fa-trash-alt",
            method: :Delete, 
            data:{confirm: 'Are you sure to delete?'}
         %>
    </td>

</tr>
    <% end %>
     
</tbody>
</table>
 <% end %>
</div>
</div>

</div> </div> </div>



 <% end %>